---
import Header from "../components/common/Header.astro";
---

<main>
  <header>
    <Header />
  </header>
  
</main>

<style>
  html,
  body,
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 4rem;
  }
</style>
